:root {
    --link-color: #213fb1;
    --link-color-hover: #0a2cb1;
 
    --color-primary: rgba(167, 65, 167, 0.911);
    --color-secondary: rgba(231, 91, 231, 0.911);
 
    --font-family: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
    --border-radius: 6px;
}